
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Ads Report Card</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/starter-template.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script-->
    <!--script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script-->
    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script-->
    <!--script src="http://code.highcharts.com/highcharts.js"></script-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script> 
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button style="display: none" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ads Report Card</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
       	    <li><a href="#analytics" aria-controls="slides" role="tab" data-toggle="tab">Analytics</a></li>
	    <li><a href="#slides" aria-controls="slides" role="tab" data-toggle="tab">Slides</a></li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
	<div class="starter-template">
          <h1>Ads Report Card</h1>
          <p class="lead">Welcome to reporting page for Ads Performance.<br> See how your ads are doing!</p>
        </div>

        <div align="center" role="tabpanel" class="tab-pane active" id="home">
        
        <form id="surveyForm" method="post" class="form-horizontal" action="#home">
          <div class="form-group">
            <label class="col-xs-3 control-label">Enter Ad Account ID</label>
            <div class="col-xs-4">
              <input type="text" class="form-control" name="first" value ="1431971797052032" />
            </div>

            <div class="col-xs-4">
              <button id = "get_id" class="btn btn-large btn-info">Query</button>
            </div>
	<br><br>	    
	    <label class="col-xs-3 control-label">Enter Ad Set ID</label>
            <div class="col-xs-4">
              <input type="text" class="form-control" name="second" />
            </div>

            <div class="col-xs-4">
              <button id = "get_id" class="btn btn-large btn-info" onclick="myFunction()">Get AdSet Info</button>
            </div>
          </div>
        </form>

	<script> var account = {{ account  }} </script>
	<script> var ad_set = {{ ad_set }} </script>
        {% if table %}
	<p class="lead"> Results for Ad Account: {{ account }}</p>
        
        <table class="table table-bordered">
         <tr><th>Ad Set ID</th><th>Bid Type</th><th>Date Start</th></tr>
         {% for adset in ad_set_data %}
         <tr><td>{{ adset['ad_group_id'] }}</td><td>{{ adset['bid_type']}}</td><td> {{ adset['date_start'] }}</td></tr>
         {% endfor %}
         </table>
        {% endif %}
	
	{% if graph %}
	<br><br><br>
	<p class="lead"> Results for Ad Set: {{ ad_set }}</p>
	<div id="timeseries" style="float:left; width:50%; height:400px;">
        <script> var clicks_data = {{ clicks_data  }} </script>
        </div>

	<div id="costseries" style="float:right; width:50%; height:400px;">
        <script> var cost_data = {{ cost_data  }} </script>
        </div>
	
        <!--div id="actionseries" style="float:right; width:50%; height:400px;"-->
        <!--script> var actions = {{ actions  }} </script-->
        </div-->

            <script src= "../static/js/timeseries.js"></script>
	    <script src= "../static/js/costseries.js"></script>
	    <script src= "../static/js/actionseries.js"></script>
	{% endif %}

     </div>     

      <div align = "center" role="tabpanel" class="tab-pane" id="slides">
      <iframe src="https://www.slideshare.net/slideshow/embed_code/key/BeOCEiKoOYDugn" width="700" height="600" frameborder="0" marginwidth="10" marginheight="10" scrolling="no"></iframe>
      </div>

      <div role="tabpanel" class="tab-pane" id="analytics">

	<div id="pie_chart" style="float:left; width:50%; height:400px;">
        </div>
	<script src= "../static/js/pie.js"></script>

	<div id="cost_bar_chart" style="float:right; width:50%; height:400px;">
	<script> var bid_categories = {{ bid_categories }} </script>
	<script> var cost_per_action = {{ cost_per_action }} </script>
	<script> var cost_per_result = {{ cost_per_result }} </script>
        </div>
        <script src= "../static/js/cost_bar_chart.js"></script>
       
      </div>

      </div>

      <!--script src="https://code.jquery.com/jquery-1.10.2.min.js"></script-->
	
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
    <!--script src="../static/js/bootstrap.min.js"></script-->
  </body>
  </html>


